:root {
	--size: calc(100dvw / 15);
}

.camera {
	min-height: 100dvh;
	min-width: 100dvw;
	max-height: 100dvh;
	max-width: 100dvh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	overflow: hidden;
}

.tile {
	background-color: lightgreen;
	outline: 1px solid red;
	min-height: var(--size);
	min-width: var(--size);
	max-height: var(--size);
	max-width: var(--size);
	color: black;
}

.row {
	display: flex;
}

.map {
	display: flex;
	flex-direction: column;
	position: relative;
	top: 0;
	left: 0;
	transition: top;
	transition: left;
}
