:root {
	--size: calc(100dvw / 15);
}

.camera {
	min-height: 100dvh;
	min-width: 100dvw;
	max-height: 100dvh;
	max-width: 100dvh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	overflow: hidden;
}

.layer {
	display: flex;
	flex-direction: column;
	position: relative;
	top: 0;
	left: 0;
	transition: top;
	transition: left;
}

.character {
	min-height: var(--size) * 1.5;
	min-width: var(--size);
	max-height: var(--size) * 1.5;
	max-width: var(--size);
}
