.icon {
	height: 40px;
	width: 40px;
}
.tag {
	background-color: rgba(0, 0, 0, 0.5);
	position: relative;
	top: -48px;
	left: 24px;
	width: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	border-radius: var(--rounded);
}
