.tileDecoration {
	position: relative;
	height: calc(var(--size) * var(--height));
	width: calc(var(--size) * var(--width));
	top: calc(var(--size) * (var(--height) - 1) * -1);
	z-index: calc(var(--height) - 1);
}

.occupantOffset {
	top: calc((var(--size) * -1.5) * (var(--height) - 1) * -1);
}
